* {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}


/**navbar-section**/

.nav {
    display: flex;
    height: 86px;
    padding: 20px, 135px, 0px, 135px;
    gap: 20px;
}

.ndt-logo {
    margin-top: 20px;
    width: 440px;
    height: 66px;
    padding: 0px 135px 0px 135px;
    gap: 0px;
    opacity: 0px;
}


/**form section**/

.form-outer {
    width: 1170px;
    height: 411px;
    padding: 70px 62.5px 70px 62.5px;
    gap: 10px;
    border-radius: 20px;
    opacity: 0px;
    margin: 135px;
    position: relative;
    display: flex;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}

.form-inner {
    width: 1045px;
    height: 271px;
    gap: 0px;
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    opacity: 0px;
}

.left-form {
    color: rgba(80, 80, 80, 1);
    gap: 15px;
    width: 358px;
    height: 88px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

#form-p-one {
    font-size: 35px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0.01em;
    text-align: left;
}

#form-p-two {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
}

.right-form {
    display: flex;
    flex-direction: column;
    width: 625px;
    height: 271px;
    gap: 45px;
    opacity: 0px;
}

.form-one,
.form-two {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
}

.form-three {
    display: flex;
    justify-content: space-between;
    padding: 13px, 30px, 13px, 30px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    padding: 11px 10px 11px 10px;
    border: none;
    border-bottom: 1px solid rgba(80, 80, 80, 0.5);
    box-sizing: border-box;
    gap: 10px;
}

textarea {
    padding: 11px 10px 81px 10px;
}

input[placeholder="Name"],
input[placeholder="Organization Name"],
input[placeholder="Email ID"],
input[placeholder="Contact Number"],
input[placeholder="Message"] {
    font-size: 12px;
    font-weight: 400;
    line-height: 14.63px;
    text-align: left;
    color: rgba(80, 80, 80, 1);
    width: 280px;
    height: 15px;
    opacity: 0.5px;
}

input[type="submit"] {
    width: 143px;
    height: 50px;
    gap: 10px;
    border-radius: 50px;
    opacity: 0px;
    background: rgba(0, 173, 238, 1);
    border: none;
    color: rgba(255, 255, 255, 1);
}


/**map-section**/

.map {
    height: 638px;
    width: 100%;
    padding-top: 162px;
    padding-left: 135px;
    background-image: url("images/map.png");
    background-size: cover;
    display: flex;
    background-position: center;
}

.addr-box {
    height: 315px;
    width: 486px;
    border-radius: 10px;
    position: relative;
    background: linear-gradient(180deg, #103977 0%, #171352 100%);
    gap: 10px;
}

.inner-box {
    height: 215px;
    width: 386px;
    position: relative;
    padding: 50px;
    color: rgba(255, 255, 255, 1);
}

.addr-first {
    font-size: 27px;
    font-weight: 600;
    line-height: 32.91px;
    letter-spacing: 0.02em;
    text-align: left;
}

.addr-sec {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
}

.map-logo {
    display: flex;
    gap: 10px;
}


/**services**/

.service {
    margin: 135px;
    width: 100%;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.info {
    height: 170px;
    width: 170px;
    color: #FFFFFF;
    text-align: center;
    border-radius: 10px;
}

#companies {
    background-image: url("images/companies.png");
    background-size: cover;
}

#jobs {
    background-image: url("images/jobs.png");
    background-size: cover;
}

#articles {
    background-image: url("images/articles.png");
    background-size: cover;
}

#webinars {
    background-image: url("images/webinar.png");
    background-size: cover;
}

#forums {
    background-image: url("images/forums.png");
    background-size: cover;
}

#notes {
    background-image: url("images/notes.png");
    background-size: cover;
}


/**footer-section**/

.foot {
    height: 200px;
    width: 100%;
    background: linear-gradient(180deg, #171352 0%, #042C67 100%);
    display: flex;
    justify-content: flex-end;
}

.foot-logo {
    padding: 70px 135px 30px 135px;
    opacity: 0px;
}

@media only screen and (max-width: 411px) {
    .form-outer {
        width: 340px;
        height: 691px;
        padding: 40px 35px 50px 35px;
        margin: 90px 35px 70px;
    }
    .form-inner,
    .form-one,
    .form-two,
    .form-three {
        flex-direction: column;
        gap: 25px;
    }
    .form-one,
    .form-two {
        margin-bottom: 25px;
    }
    .form-three {
        gap: 60px;
    }
    #form-p-one {
        font-size: 25px;
        line-height: 35px;
    }
    input[type="submit"] {
        width: 270px;
        height: 50px;
        padding: 13px 40px 13px 40px;
    }
    .map {
        padding: 32px;
    }
    .addr-box {
        height: 309px;
        width: 340px;
        gap: 15px;
    }
    .addr-sec {
        font-size: 14px;
        line-height: 24px;
    }
    .service {
        margin: 30px;
        gap: 15px;
    }
    .info {
        height: 90px;
        width: 160px;
        text-align: center;
        padding-top: 50px;
    }
    .foot {
        justify-content: center;
    }
}

@media only screen and (min-width: 411px) and (max-width: 1440px) {
    .form-outer {
        width: 700px;
        height: 500px;
        padding: 40px 35px 50px 35px;
        margin: 90px 35px 70px;
    }
    .form-one,
    .form-two,
    .form-three {
        flex-direction: column;
        gap: 25px;
    }
    .form-one,
    .form-two {
        margin-bottom: 35px;
    }
    .form-three {
        gap: 30px;
    }
    #form-p-one {
        font-size: 30px;
        line-height: 40px;
    }
    input[type="submit"] {
        width: 200px;
        height: 50px;
    }
    .map {
        padding: 32px;
    }
    .addr-box {
        height: 309px;
        width: 340px;
        gap: 15px;
    }
    .addr-sec {
        font-size: 14px;
        line-height: 24px;
    }
    .service {
        margin: 100px;
        gap: 15px;
    }
    .info {
        text-align: center;
        padding-top: 50px;
    }
    .foot {
        justify-content: center;
    }
}

@media only screen and (min-width: 1440px) {}